*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-side {
    width: 40%;
    height: 100%;
    background-image: url(tokyo.jpg);
    background-size: cover;
}

#odin {
    max-height: 85%;
}

.title {
    color: white;
    font-size: 48px;
}

.bar {
    background-color: rgba(0, 0, 0, 0.7);
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.description {
    background-color: #000000;
    width: 100%;
    height: 33%;
    flex: 1;
}

.descrip, .remote-text {
    font-size: 1.3rem;
    color: grey;
    margin-top: 10%;
    margin-left: 5%;
}

.remote-text {
    margin-top: 10%;
}

.form {
    background-color: rgb(6, 6, 6);
    width: 100%;
    height: 33%;
    flex: 1;
}

.right, .left {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    
}

fieldset {
    border: none;
    margin-left: 5%;
    width: 100%;
    height: 100%;
}

label {
    color: grey;
}

input {
    background-color: rgb(6, 6, 6);
    border: 1px solid grey;
    width: 200px;
    color: white;
}

.form-title {
    color: grey;
    margin-top: 3%;
}

.form-main {
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    gap: 10%;
}

.create {
    height: 33%;
    width: 100%;
    flex: 1;
    background-color: #000000;
}

.create-buttons {
    display: flex;
    width: auto;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 3%;
}

.login {
    display: flex;
    gap: 1%;
    margin-top: 2%;
}

.login p {
    color: grey;
    font-weight: bold;
}

#log-in {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: #000000;
    border: none;
    cursor: pointer;
}

#create-an-account{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    width: 20%;
    background-color: grey;
    border: 1px solid black;
    border-radius: 8%;
    padding: 2%;
    box-shadow: 2px 2px 5px rgba(105, 105, 105, 0.5);
    transition: box-shadow 0.2s ease-in-out;
}

#create-an-account:active {
    box-shadow: -2px -2px 5px (105, 105, 105, 0.5);
    border-color: white;
}